body {
    background: #F0E9DD;
}
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 51px;
    line-height: 51px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
    width: 100%;
    background: #005581;
    color: #ffffff;
}
#nav-bar #nav-bar-content {
    width: 980px;
    margin: 0 auto;
}
#nav-bar #nav-bar-content #logo {
    width: 200px;
    float: left;
}
#nav-bar #nav-bar-content ul {
    margin: 0;
    float: right;
    list-style: none;
}
#nav-bar #nav-bar-content ul li {
    float: right;
    margin-left: 20px;
}
#content {
    width: 980px;
    margin: 80px auto 20px auto;
}
.product {
    width: 226px;
    margin-right: 20px;
    background: #ffffff;
    border: 2px #000000 dashed;
    border-radius: 5px;
    text-align: center;
    float: left;
    padding: 10px 0;
}
.product .title {
    font-weight: bold;
}
.gwstore-button {
    color: #444444;
    font-size: 20px;
    min-height: 25px;
    padding: 0px 10px;
    margin: 5px 0;
    background-color: #ffe13f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: inset 0 1px 4px #99801d;
    -moz-box-shadow: inset 0 1px 4px #99801d;
    box-shadow: inset 0 1px 4px #99801d;
    background-color: #ffe140;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe960), color-stop(50%, #ffe240), to(#ffdc42));
    background-image: -webkit-linear-gradient(#ffe960, #ffe240 50%, #ffdc42);
    background-image: -moz-linear-gradient(top, #ffe960, #ffe240 50%, #ffdc42);
    background-image: -o-linear-gradient(#ffe960, #ffe240 50%, #ffdc42);
    background-image: linear-gradient(#ffe960, #ffe240 50%, #ffdc42);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe960', endColorstr='#ffffdc42', GradientType=0);
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.gwstore-button:hover {
    text-decoration: none;
    color: #333;
    -webkit-box-shadow: inset 0 1px 4px #6d633d;
    -moz-box-shadow: inset 0 1px 4px #6d633d;
    box-shadow: inset 0 1px 4px #6d633d;
    text-shadow: 0 1px 0 rgba(200, 200, 200, 0.57);
    background-color: #d1ba99;
    background-image: -moz-linear-gradient(top, #d9c5a8, #c5a983);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9c5a8), to(#c5a983));
    background-image: -webkit-linear-gradient(top, #d9c5a8, #c5a983);
    background-image: -o-linear-gradient(top, #d9c5a8, #c5a983);
    background-image: linear-gradient(to bottom, #d9c5a8, #c5a983);
    background-repeat: repeat-x;
}
#items {
    margin: 5px 0;
    padding-left: 30px;
}

/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.popup-form {
    display:none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999; /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    color:#999;
    font-size:16px;
    line-height:25px;
}

img.btn_close {
    float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border:none;
}

form.auth .textbox label {
    display:block;
    padding-bottom:7px;
}

form.auth .textbox span {
    display:block;
}

form.auth p, form.auth span {
    font-size:12px;
    line-height:18px;
}

form.auth .textbox input {
    background:#666666;
    border-bottom:1px solid #333;
    border-left:1px solid #000;
    border-right:1px solid #333;
    border-top:1px solid #000;
    color:#fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font:13px Arial, Helvetica, sans-serif;
    padding:6px 6px 4px;
    width:200px;
}

form.auth input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.auth input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }
form.auth a {color: #FFFFFF;}

.form-button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color:#000;
    border-width:1px;
    border-radius:4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color:#333;
    cursor:pointer;
    display:inline-block;
    padding:6px 6px 4px;
    margin-top:10px;
    font:12px;
    width:214px;
}
.form-button:hover { background:#ddd; }