{% load thumbnail %}
{% load store_tags %}
{% load staticfiles %}


<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>GW Store</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href="{% static 'css/gwstore.css' %}" rel="stylesheet">
    <script src="{% static 'js/gwstore.js' %}" type="text/javascript"></script>
{#    <script src="{% static 'js/jquery.md5.js' %}" type="text/javascript"></script>#}
</head>
<body>
    <div id="order-box" class="popup-form">
        <a href="#" class="close"><img src="{% static 'images/close-pop.png' %}" class="btn_close" title="Close Window" alt="Close" /></a>
        <div style="width: 300px; float: left; padding-top: 5px; margin-left: 10px;">
            Items:<ul id="items"></ul>
            Total Price:&nbsp;&#36;<span id="total-price">0.00</span><br/>
            Tax:&nbsp;&#36;<span id="tax">0.00</span>
        </div>
        <div style="width: 300px; float: left;">
            <form id="order-form" method="post" class="auth" action="#">
                <fieldset class="textbox">
                    <label>
                        <span>Email</span>
                        <input name="email" value="" type="text" placeholder="Email">
                    </label>
                    <label>
                        <span>Name</span>
                        <input name="name" value="" type="text" placeholder="Name">
                    </label>
                    <label>
                        <span>Address</span>
                        <input name="address" value="" type="text" placeholder="Street Address">
                    </label>
                    <label>
                        <span>City</span>
                        <input name="city" value="" type="text" placeholder="City">
                    </label>
                    <label>
                        <span>State</span>
                        <select name="state">
                            <option value=""></option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="District of Columbia">District of Columbia</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                    </label>
                    <label>
                        <span>Zipcode</span>
                        <input name="zipcode" value="" type="text" placeholder="Zipcode">
                    </label>
                    <input name="tax" style="display: none" value="">
                    <input name="products" style="display: none" value="">
                    <input name="totalcost" style="display: none" value="">
                    <p name="error" style="margin:0; height: 18px; color: #FF2300;"></p>
                    <button id="placeorder" class="submit form-button" type="button" disabled="disabled">Place Order</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="nav-bar">
        <div id="nav-bar-content">
            <div id="logo">GW ONLINE STORE</div>
            <ul>
                <li><a id="check-out" href="#order-box" class="popup gwstore-button" style="height: 40px; line-height: 40px;" href="#">Check Out</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        {% products_tag as products %}
        {% for product in products %}
            <div id="{{ product.id }}" class="product" {% if forloop.counter|divisibleby:4 %} style="margin-right: 0;" {% endif %}>
                {% thumbnail product.photo '220' as im %}
                <img src="{{ im.url }}">
                {% endthumbnail %}
                <span class="title">{{ product.name }}</span><br/>
                &#36;<span class="price">{{ product.price }}</span><br/>
                <input class="buy" type="checkbox" value="{{ product.price }}"> Buy<br/>
                {{ product.quantity }} in stock
            </div>
            {% if forloop.counter|divisibleby:4 %}
            <div style="clear: both; padding: 10px 0; float: none;"></div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>